go 1.26.5

use (
	./services/auth-service
	./services/chat-service
	./services/game-server
	./services/match-service
	./services/notification-service
	./services/rating-service
	./services/user-service
	./services/ws-gateway
	./shared
)
